
<h2><%= @task.title %></h2>
<p><%= @task.desc %></p>
<br>
<p><%= image_tag @task.photo %></p>
<p><%= link_to "Volver a las tareas", tasks_path, class: "btn btn-success" %></p>
<br>
<h3>Usuarios que han realiazado la tareas</h3>

<%@task.users.each do |user| %>
  <ul>
    <li><%=user.email %></li>
  </ul>
  <%end  %>

<p>Usuarios que completaron la tarea</p>
<%@ranking.each do |user| %>
  <ul>
    <li><%=user.email %></li>
    <li><%=user.created_at %></li>
  </ul>
  <%end  %>
